/************************************************* TAG SELECTORS **************************************************************/

h1 {
    color: rgb(30, 0, 255);
    font-family: unset;
}

p {
    color: red;
    font-family: sans-serif;
    font-size: 25px;
}

body {
    background-color: beige;
}

/*************************************************** CLASS SELECTORS ************************************************************/

.fruits {
    background-color: greenyellow;
}

.vegetables {
    background-color: red;
}